.grid_3
  This is a sidebar

.grid_12

  %h2 Smoke testing
  %table
    %tr
      %th Build
      %th Passed
      %th Failed/Skipped
      %th Total
      %th Pass Rate
      %th Bugs
    - for build in @builds
      %tr
        %td
          %a{ :href => "/build/#{build[:id]}" } 
            = build[:id]
        %td.num
          = build[:pass]
        %td.num
          = build[:fail]
        %td.num
          = build[:total]
        %td.num{ :class => "#{result_color(build[:pass_rate])}" }
          = format "%.0f\%", (build[:pass_rate]*100) 
        %td.num
          = build[:bugs]
