%h2 Smoke testing for ubuntu, quantal
%table
  %tr
    %th Build
    %th Fail/Skip
    %th Pass
    %th #Tests
    %th Pass Rate
    %th Bugs
  - for build in @builds
    %tr
      %td.num
        %a{ :href => "/build/#{build[:id]}" } 
          = build[:id]
      %td.num
        = build[:fail]
      %td.num
        = build[:pass]
      %td.num
        = build[:total]
      %td.num{ :class => "#{build[:color]}" }
        = format "%.0f", (build[:pass_rate]*100) 
        \%
      %td.num
        = build[:bugs]

