%h2 Test Runs

%table
  %tr 
    %th ID
    %th Release
    %th Flavour
    %th Variant
    %th Arch
    %th test
  - for job in @jobs
    %tr
      %td
        = job.jobid
      %td
        = job.release
      %td
        = job.flavor
      %td
        = job.variant
      %td
        = job.arch
      %td
        = job.test


