.grid_3
  This is a sidebar
.grid_12
  %h2 Build #{@build_id}
  %ul
    %li We need links to the jobs

  %h3 Summary
  
  %table{ :border => 0 }
    %tr
      %td Total Tests Failed: 
      %td.num
        = @total_fail.to_s
    %tr
      %td Total Tests Skipped:
      %td.num
        = @total_skipped.to_s
    %tr
      %td Total Tests Run:
      %td.num
        = @total_tests.to_s 

  %h3 Jobs details

  %table
    %tr
      %th variant
      %th arch
      %th job_name
      %th date
      %th test_suite
      %th #fail
      %th #skip
      %th #run
    - for result in @results_build
      %tr
        %td
          = result.job.variant
        %td
          = result.job.arch
        %td
          = result.job.test
        %td
          = result.date
        %td
          N/A
        %td.num
          = result.failcount
        %td.num 
          = result.skipcount
        %td.num
          = result.totalcount
