.grid_3
  This is a sidebar
.grid_12
  %h2 Build #{@build_id}
  %ul
    %li I think job_result is irrelevant and should be removed
    %li We need links to the jobs
    %li Job information is missing 


  %h3 Summary
  
  %table{ :border => 0 }
    %tr
      %td Total Tests Failed: 
      %td.num
        = @total_fail.to_s
    %tr
      %td Total Tests Skipped:
      %td.num
        = @total_skipped.to_s
    %tr
      %td Total Tests Run:
      %td.num
        = @total_tests.to_s 

  %h3 Jobs details

  %table
    %tr
      %th Date
      %th Test Suite
      %th Result
      %th Failed
      %th Skipped
      %th Total Tests
    - for result in @results_build
      %tr
        %td
          = result[:date]
        %td
          N/A
        %td
          = result[:result]
        %td.num
          = result[:failcount]
        %td.num 
          = result[:skipcount]
        %td.num
          = result[:totalcount]
