.grid_15
  #breadcrumb
    %a{ :href => "/" }
      Smoke Testing
    >> Build #{@build_id}

  %ul
    %li We need links to the jobs
    %li What about extracting all the logs from jenkins and making them available on the dashboard? It doesn’t look very complicated and removes the jenkins middle man for triaging

  %h3 Summary
  
  %table{ :border => 0 }
    %tr
      %td Total Tests Failed: 
      %td.num
        = @total_fail.to_s
    %tr
      %td Total Tests Skipped:
      %td.num
        = @total_skipped.to_s
    %tr
      %td Total Tests Run:
      %td.num
        = @total_tests.to_s 

  %h3 Graph
  Graph to be added

  %h3 Jobs details

  %table.data-table
    %thead
      %tr
        %th test_suite
        %th variant
        %th arch
        %th job_name
        %th date
        %th #fail
        %th #skip
        %th #run
    %tbody
      - for result in @results_build
        %tr
          %td
            N/A
          %td
            = result.job.variant
          %td
            = result.job.arch
          %td
            %a{ :href => "http://jenkins.qa.ubuntu.com/", :target => "_blank" }
              = result.job.test
          %td
            = result.date
          %td.num
            = result.failcount
          %td.num 
            = result.skipcount
          %td.num
            = result.totalcount
