:javascript
  $(document).ready(function() {
    $(".data-table").dataTable({
      "bPaginate": false,
      "aaSorting": [[0, 'desc']]
    });
  });

.grid_15

  #breadcrumb
    %span.crumb
      %a{ :href => "/smoke/#{@release}" }
        Smoke Testing 
        = @release.capitalize
    %span.crumb-sep
      >>
    %span.crumb
      %a{ :href => "smoke/#{@release}/run/#{@image.run.id}" }
      Image #{@image.run.build_no}
    %span.crumb-sep
      >>
    %span.crumb
      = "Results for #{@image.run.flavor}-#{@image.variant}-#{@image.arch} #{@result.name}"
    %span.crumb-sep
      Logs

  %h3 
    Result Logs

  %table.data-table
    %thead
      %tr
        %th Path
    %tbody
      - for log in @logs
        %tr
          %td
            %a{ :href => log.remote_url }
              = log.path
