:javascript
  $(document).ready(function() {
    $(".data-table").dataTable({
      "bPaginate": false,
      "aaSorting": [[1, 'asc']]
    });
  });

.grid_15

  #breadcrumb
    %span.crumb
      %a{ :href => "/ksru/#{@release}" }
        Kernel SRU Testing 
        = @release.capitalize
    %span.crumb-sep
      >>
    %span.crumb
      %a{ :href => "" }
        Kernel #{@kernel}
    %span.crumb-sep

  %h3 
    Results
  
  %table{ :border => 0 }
    %tr
      %td Pass Rate: 
      %td.num
        = format "%.0f\%", (@sru.stats[:pass_rate]*100)
    %tr
      %td Total Tests Run:
      %td.num= @sru.stats[:total]
    %tr
      %td Total Tests Failed: 
      %td.num= @sru.stats[:fail]
    %tr
      %td Total Tests Skipped:
      %td.num= @sru.stats[:skip]

  %h3 Graph
  %img{ :src => "/ksru/#{@release}/sru/#{@sru.id}/pie", :alt => "Results pie chart" }

  %h3 Kernel aggregated results

  %table.data-table
    %thead
      %tr
        %th kernel flavour
        %th arch
        %th graphics card
        %th date
        %th #total
        %th #pass
        %th #fail
        %th #skip
        %th pass rate
        %th bugs
        %th logs
    %tbody
      - for result in @results
        %tr
          %td
            %a{ :href => result.jenkins_url }
              = "#{result.kernel_flavor}_#{result.kernel_arch}"
          %td= result.system_arch
          %td= result.graphics_card
          %td= result.ran_at
          %td.num= result.total_count
          %td.num= result.pass_count
          %td.num= result.fail_count
          %td.num= result.skip_count
          %td.num{ :class => "#{result_color(result.pass_rate)}" }
            = format "%.0f\%", (result.pass_rate*100)
          %td.num
            - for bug in result.bugs
              %span{ :class => "bug-#{bug.status}" }
                %a{ :href => "https://bugs.launchpad.net/bugs/#{bug.bug_no}" }
                  = "#{bug.bug_no} "
          %td.num
            %a{:href => "/ksru/#{@release}/sru/#{@sru.id}/logs/#{result.id}"}
              = result.result_logs.count
