:javascript
  $(document).ready(function() {
    $(".data-table").dataTable({
      "bPaginate": false,
      "aaSorting": [[0, 'asc']]
    });
  });

.grid_15

  %h2
    = "Kernel SRU testing for #{@release.capitalize}"

.grid_2
  %h3.nav-title
    RELEASE
  %ul.left_nav
    - for release in @releases
      %li 
        %a{ :href => "/ksru/#{release}" } 
          = release.capitalize


.grid_13

  %table.data-table
    %thead
      %tr
        %th Kernel Version
        %th Passed
        %th Failed
        %th Skipped
        %th Total
        %th Pass Rate
        %th Bugs
    %tbody
      - for sru in @srus
        %tr
          %td
            %a{ :href => "/ksru/#{@release}/sru/#{sru.id}" }
              = sru.kernel_version
          %td.num 
            = sru.stats[:pass]
          %td.num 
            = sru.stats[:fail]
          %td.num 
            = sru.stats[:skip]
          %td.num
            = sru.stats[:total]
          %td.num{ :class => "#{result_color(sru.stats[:pass_rate])}" }
            = format "%.0f\%", sru.stats[:pass_rate]*100
          %td.num
            = sru.bug_count

